<div class = 'comment-items'>
    <div class = 'comment-items-first'><span class='name'>{{name}}</span> <span class='place-date'>&nbsp;{{place}} {{date}}</span></div>
    <div class='comment-items-second'>{{commit}}</div>
</div>
