    <div class="elem-header">
        <div class="elem-header-place">
            <div class = "fa fa-map-marker"></div>
            <div class="elem-header-div">
            </div>
            <div class="fa fa-times"></div>
        </div>
    </div>
    <div class="elem-content">
        <ul class="elem-content-list">
            <li class ="no-comment">Отзывов пока нет..</li> 
        </ul>
        <div class="elem-content-input">
            <h3>ВАШ ОТЗЫВ</h3>
            <input type="text" class="input-name" placeholder="Ваше имя">
            <input type="text" class="input-place" placeholder="Укажите место">
            <textarea class="input-commit" placeholder="Поделитесь впечатлениями" rows="5" cols="25"></textarea>
        </div>
    </div>
    <div class="element-footer">
        <button class="addbtn">Добавить</button>
    </div>
